<h2>Edit Request</h2>

<h1>Update Request Category</h1>

<h2>Edits for <%= @user_request.category %></h2>

<form action="/requests/<%= @user_request.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Edit the Request's Category:</label>
  <%Category.all.each do |category|%>
    <br><input type="checkbox" id="<%=category.id%>" name="request[category]" value="<%=category.name %>" <%='checked' if @user_request.category == category%>><%=category.name%>
  <%end%>  
  
  <br>
  <br>
  <label>Edit the Request's Description:</label>
  <input type="text" id="description" name="request[description]" value ="<%=@user_request.description%>">
  <br>
  <br>
  <label>Edit the Request's Type:</label>
  <%RequestType.all.each do |request_type|%>
    <br><input type="checkbox" id="<%=request_type.id%>" name="request[type]" value="<%=request_type.request_type %>" <%='checked' if @user_request.rtype == request_type%>><%=request_type.request_type%>
  <%end%>    
  
  <br><br>

  <input type="submit" value="Edit Request">
  
  <br><br>

  <a href="/">Home</a> | <a href="/requests">Back to All Requests</a> | <a href="/logout">Log Out</a>   
