
<h1> Details of Request Id <%=@user_request.id%></h1>

<h2> Category | Description | Request Type | Contact Email </h2>
<h3>-------------------------------------------------------</h3>
<h2><%=@user_request.category%> | <%=@user_request.description%> | <%=@user_request.rtype%></h2>


<form action="/requests/<%= @user_request.id%>/edit">
    <input type="submit" value="Edit Request" />
</form>

<br>

<form method="post" action="/requests/<%= @user_request.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Request">
</form>