<h1><%=@user_request.category%></h1>
<h1><%=@user_request.description%></h1>
<h1><%=@user_request.rtype%></h1>

<a href="/requests/<%= @user_request.id %>/edit">Edit Request</a>

<form method="post" action="/tweets/<%= @tweet.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>