<% if !!flash[:message] %>
<%= flash[:message] %>
<% end %>

<% if !!flash[:notice] %>
<%= flash[:notice] %>
<% end %>


<h1> Details of Request Id <%=@user_request.id%></h1>


<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Request Type</th>
      <th>Contact Email</th>
    </tr>
  </thead>

  <tbody>
    <tr>
     <td> <%= @user_request.category  %> </td>
     <td> <%= @user_request.description  %> </td>
     <td> <%= @user_request.rtype  %> </td>
     <td> <%= @user_request.user.email  %> </td>
    </tr>
 </tbody>
</table>

<br><br>


<form action="/requests/<%= @user_request.id%>/edit">
    <input type="submit" value="Edit Request" />
</form>

<br>

<form method="post" action="/requests/<%= @user_request.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Request">
</form>

<br>

<a href="/requests">See All Requests</a>