<% if !!flash[:message] %>
<div class="flash_message">
  <%= flash[:message] %>
<% end %>
</div>

<h3>Hi <%=@user_name %>, here are all your neighborly deals!</h3>


<table>
  <thead>
    <tr>
      <th>Post ID</th>
      <th>Category</th>
      <th>Description</th>
      <th>Post Type</th>
      <th>Contact Email</th>
    </tr>
  </thead>

  <tbody>
       <%  Post.all.each do |user_post| %>
        <tr>
         <td> <a href="/posts/<%=user_post.id %>"><%=user_post.id %></a></td>          
         <td> <%= user_post.category.name  %> </td>
         <td> <%= user_post.description  %> </td>
         <td> <%= user_post.post_type.description  %> </td>
         <td> <%= user_post.user.email  %> </td>
        </tr>
       <% end %>

 </tbody>
</table>


<a href="/posts/new">Create Post</a> | <a href="/logout">Log Out</a>

