<% if Helpers.is_logged_in?(session) %>
<%= @error %>

  <h3>Create a Post</h3>

  <form action='/posts' method="post">
    <div class="new_post_menu">
      Category:
    
      <%Category.all.each do |category|%>
        <br><input type="checkbox" id="category_<%= category.id %>" name="category[id]" value="<%=category.id %>"><%=category.name%>
      <%end%>
      <br></br>    
      
      Description:
      <input type="text" name="description"><br><br>    
      
      Type:
      <%PostType.all.each do |post_type|%>
        <br><input type="checkbox" id="post_type_<%= post_type.id %>" name="post_type[id]" value="<%=post_type.id %>"><%=post_type.description%>
      <%end%>
      <br></br>      
      
      Create Your Post:
  
      <input type="submit" name="submit" id="submit">
  
      <br><br>    
      
      <a href="/posts">Back to All Posts</a> | <a href="/logout">Log Out</a>   
    </div>

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Posts </h1>
  <% end %>