<% if !!flash[:message] %>
<%= flash[:message] %>
<% end %>

<% if !!flash[:notice] %>
<%= flash[:notice] %>
<% end %>


<h3> Details of Post Id <%=@user_post.id%></h3>


<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Post Type</th>
      <th>Contact Email</th>
    </tr>
  </thead>

  <tbody>
    <tr>
     <td> <%= @user_post.category.name  %> </td>
     <td> <%= @user_post.description  %> </td>
     <td> <%= @user_post.post_type.description  %> </td>
     <td> <%= @user_post.user.email  %> </td>
    </tr>
 </tbody>
</table>

<br><br>


<form action="/posts/<%= @user_post.id%>/edit">
    <input type="submit" value="Edit Post" />
</form>

<br>

<form method="post" action="/posts/<%= @user_post.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Post">
</form>

<br>

<a href="/posts">See All Posts</a> | <a href="/logout">Log Out</a>